body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-header {}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.eq-generator {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.equation {
  font-size: calc(50px + 2vmin);
}

.user-answer input {
  width: 25%;
  font-size: calc(50px + 2vmin);
}

ul {
  list-style-type: none;
}

ul li a {
  color: #000;
}

ul li a {
  color: white;
}

ul li a.active {
  color: white;
}