body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-header {}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.eq-generator {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.equation {
  font-size: calc(50px + 2vmin);
  padding: 10px;
}

.user-answer-input {
  width: 25%;
  font-size: calc(50px + 2vmin);
}

.user-answer {
  font-size: 20px;
}

ul {
  list-style-type: none;
  text-align: center;
}

ul li a {
  color: #000;
}

ul li a {
  color: white;
}

ul li a.active {
  color: white;
}

.navigation {
  /* background-color: lightblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.points p {
  position: absolute;
  top: 120px;
  right: 20px;
}

.btn {
  background-color: #008CBA;
  border: none;
  color: black;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  font-size: 20px;
}

.select-operator {
  border: none;
}